.choiceBtn {
  line-height: 30px;
  width: 150px;
  background-color: coral;
  border-radius: 15px;
  font-weight: bold;
}
#gameDiv {
  height: 15cm;
  font-family: cursive;
  border: 4px solid;
  border-radius: 25px;
  padding: 15px;
  background-color: bisque;
  text-align: center;
}

#playerChoice {
  color: blue;
}

#computerChoice {
  color: red;
}
